:root {
  --text-color: #5e428d;
  --background-color:#fff;
  --primary: #913A74;
  --secondary: #c62a52;
}


* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
