.mainNav {
  height: 80px;
  background-color: lightgrey;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainNav ul {
  width: 100%;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  justify-content: flex-end !important;
  margin-right:10%;
}
.mainNav ul li {
}

.mainNav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
